extends layout

block content
    .container
        .error-page
            .error-content
                if status
                    h1.error-title Error #{status}
                else
                    h1.error-title Error
                
                .error-message
                    if message
                        p= message
                    else
                        p Something went wrong!
                
                if error && error.stack && process.env.NODE_ENV === 'development'
                    .error-details
                        h2 Error Details
                        pre.error-stack= error.stack
                
                .error-actions
                    a.btn.btn-primary(href='/')
                        i.fas.fa-home
                        span Return Home
                    if status === 404
                        a.btn.btn-secondary(href='javascript:history.back()')
                            i.fas.fa-arrow-left
                            span Go Back 