doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Event Planner
    link(rel="stylesheet", href="/styles/style.css")
  body
    header
      div.container.header_container  
        div.logo Event Planner
        nav
            a(href="#") Home
            a(href="#") About
            a(href="#") Services
            a(href="#") Contact
        div.cta-buttons
            button.btn Create Event
    section.hero
      .hero-content
        h1 Welcome to Event Planner
        p Plan your perfect event with ease and style.
        button.cta Get started